# OS / Editor
.DS_Store
.idea/
.vscode/

# Python
__pycache__/
*.pyc
.venv/
env/
venv/
.venv311/

# Env files
.env

# Data / vector stores
data/chroma/

# Streamlit / cache
.streamlit/
.cache/

# Logs
*.log

